// Colors
$color-primary: #E54B0E;
$color-secondary: #FFF;
$color-third: #E6E6E6;
$color-info: #717171;
$color-disabled: #C0C0C0;
$color-text: #404040;
$color-primary-pastel: #E65B25;
$color-primary-transition: #A03409;
$shadow-light: 0px 2px 20px rgba(0, 0, 0, 0.15);
$shadow-dark: 0px 2px 20px rgba(0, 0, 0, 0.3);
$alert-background: rgba(29, 29, 27, 0.5);
$border-light: 1px solid #DCDCDC;

// Constants
$navbar-height: 8vh;
$footer-height: 20vh;
